.beliefs-headline {
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}

.beliefs-list {
  list-style: none;
  padding: 0;
  text-align: center;
  font-size: 1.5rem;
}

.beliefs-list-item {
  margin-block: 2rem;
}

.beliefs-list-item:hover {
  text-decoration: underline;
}