.events-container {
  margin-block: 2rem;
  border-top: 1px solid rgba(48, 105, 179, 0.5);
}

.events-header h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 3rem;
}

.events {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.event {
  position: relative;
  margin: auto;
}

.event-image {
  position: relative;
  filter: opacity(40%);
}

.event-text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.event-text h1 {
  text-transform: uppercase;
  font-weight: 300;
}

.event-link {
  text-align: center;
}

.event-link:hover {
  text-decoration: underline;
}

.events-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 75vh;
}

.events-page-content {
  display: flex;
  border: 1px solid rgba(0,0,0,0.5);
  border-radius: 2px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
  width: 85%;
}

.events-content-image {
  display: flex;
  align-items: center;
}

.events-content-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2rem;
}

.events-content-text button {
  background-color: rgba(48, 105, 250, 1);
  color: #fff;
  font-size: 1.2rem;
  text-transform: uppercase;
  padding-block: 1rem;
  letter-spacing: 0.2rem;
  width: 50%;
  margin-inline: auto;
  border: none;
  border-radius: 2px;
}

.events-content-text button:hover {
  background-color: rgba(0, 0, 150, 1);
  cursor: pointer;
}