.section-tabs-container {
  margin-inline: auto;
}

.section-tabs-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-tabs-list {
  display: flex;
  gap: 0.5rem;
  list-style: none;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0;
  font-size: 1.5rem;
  margin-top: 0;
}

.section-tabs-list-item {
  width: 12rem;
  text-align: center;
}

.section-tabs-list-item-link {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  border: 1px solid rgba(0,0,0,0.2);
  margin-inline: auto;
  width: 100%;
  transition: 300ms ease;
}

.section-tabs-list-item-link:not(.open-tab):hover {
  border: 1px solid rgba(0,0,0,1);
  transition: 300ms ease;
}

.section-tabs-list-item-link.open-tab {
  color: #000;
  background-color: #fff;
  padding: 0.5rem 1.5rem;
  border: 2px solid rgba(48, 105, 179, 1);
  border-bottom: none;
}

.open-section-tab-container.hide {
  display: none;
}

.open-section-tab-container.show {
  display: block;
}

.open-section-tab-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.bio {
  width: 25%;
  text-align: center;
}